<div id="<%= dom_id reservation %>">
  <p>
    <strong>Start time:</strong>
    <%= reservation.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= reservation.end_time %>
  </p>

</div>
